*{
    margin: 0px;
    padding: 0px;
}

nav{
    background-color: black;
    color: white;
    padding: 20px;   
}

li,h1,ul{
    display: inline-block;
}
ul{
    margin-left: 60%;
    color: grey;
}

li:hover{
    color: white;
}
li{
    cursor:pointer;
}

input{
    width: 60%;
    padding: 15px;
}
.searchbar{
    padding: 50px;
    text-align: center;
}
.box{
    border-color:black ;
    border: width 2px;
    border-style: solid;
    display: inline-block;
    width: 320px;
}
.products{
    text-align: center;
    padding: 10px;
}
.box1{
    border-color:black ;
    border: width 2px;
    border-style: solid;
    display: inline-block;
    width: 400px;
    margin: 20px;
}
.box2{
    border-color:black ;
    border: width 2px;
    border-style: solid;
    display: inline-block;
    width: 300px;
}
.box:hover,.box1:hover,.box2:hover{
    background-color: gray;
    color: beige;
}

.about{
    background-color: black;
    color: white;
    display: block;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}

.contact{
    text-align: center;
    background-color: rgb(241, 234, 220);
    color: black;
    padding: 30px;
}